h1{

    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 100%
    
}

h2{

background-color: green;
width: 535px;
margin-top: 5%;
text-align: center;
margin-bottom: 0%;
margin-left: 500px;
padding: 0.5%;
font-family:Georgia, 'Times New Roman', Times, serif;

}

